{% extends base_template %}

{% block head %}
    {{ super() }}

    <style>
        .linklist-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;
        }

        .plantlink {
            box-sizing: border-box;
            width: calc(100% / 12 - 12px);
            padding: 10px;
            border: 1px solid #000;
            border-radius: 5px;
            text-align: center;
            margin-bottom: 10px;
            min-width: 0;
            flex-shrink: 1;
        }

    </style>

{% endblock %}

{% block content%}

    <div class="linklist-box">
    {% for link in linklist %}
        <a class='plantlink' href="{{ linklist[link] }}">{{ link.title() }}</a>
    {% endfor %}
    </div>

{% endblock %}  